<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart-Shower</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="container rounded">
        <h1 class="heading-page">Smart-Shower</h1>
        <hr>
        <img class="shower center" src="imgs/cold-shower.png" alt="chuveiro">
    </div>

    <div id="chronoExample">
        <div class="values">00:00:00</div>
        <hr>
        <div>
            <button class="startButton btn btn-light center">Start Shower</button>
            <button class="pauseButton btn btn-warning center">Pause</button>
            <button class="stopButton btn btn-danger center">Stop Shower</button>
            <button class="resetButton btn btn-secondary center">Reset</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/src/easytimer.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

</body>

</html>