body {
    background-color: #00334e;
}

.outer-container {
    background-color: #145374;
    width: 75%;
    margin: auto
}

.heading-page {
    margin-top: 1rem;
    color: white;
    font-size: 5rem;
    text-align: center;
}

.btn {
    margin: 1rem;
}

.shower {
    width: 10%;
}

span {
    display: block;
    margin-bottom: 4rem;
}

.fa-shower {
    color: lightblue;
}

.fa-shower:hover {
    color: white;
}



.values {
    color: blanchedalmond;
    text-align: center;
    margin-top: 2rem;
    font-size: 4rem;
}

hr {
    border: 0.5px solid white;
    width: 55%;
    margin-bottom: 3rem;
}
.top-hr {
    width: 30%;
}

.strt-shower {
    margin-top: 3rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading-page:hover {
    color: rgb(243, 243, 151);
}

.timeControl {
    width: 62.5%;
}