body {
    background-color: #00334e;
    font-family: 'Asap';
}

.outer-container {
    background-color: #145374;
    width: 75%;
    margin: auto;
}

.heading-page {
    margin-top: 1rem;
    color: white;
    font-size: 5rem;
    text-align: center;
}

.btn {
    margin: 0.75rem;
}

.shower {
    width: 10%;
}

span {
    display: block;
    margin-bottom: 4rem;
}

.fa-shower {
    color: lightblue;
}

.fa-shower:hover {
    color: white;
}

.values {
    color: blanchedalmond;
    text-align: center;
    margin-top: 2rem;
    font-size: 4rem;
}

.top-hr {
    border: 0.5px solid white;
    width: 40%;
    margin-bottom: 2.5rem;
}

.mid-hr {
    border: 0.75px solid white;
    width: 60%;
    margin-bottom: 0.5rem;
}

.strt-shower {
    margin-top: 3rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading-page:hover {
    color: rgb(243, 243, 151);
}

.timeControl {
    width: 62.5%;
}

h4 {
    color: white;
    text-align: center;
}

.flow {
    padding-top: 1.5rem;
}

.cost {
    padding-bottom: 1rem;
}

.bottom-hr {
    margin-top: 0;
    border: 1px solid white;
    width: 75%;
}
